.container{
    width: 100%;
    text-align: center;
    position: relative;
}
/* あああ */
.backgroundImage{

}

#timer {
    position: absolute;
    font-weight: bold;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 5rem;
    color: white;
}
